.login-phone-form {
    border: 1px solid var(--color-gray-light);
    border-radius: 10px;
    
}
.input-phone-header {
    font-size: 0.8rem;
    color: #808080;
}

.input-country, .input-phone {
        border: none !important;
        padding: 0px !important; 
        
    }
    
    .privacy-policy {
        font-size: 0.8rem;
        margin-top: 8px;
        text-align: start;

        .privacy-policy-link {
            text-decoration: underline;
            font-weight: 700;
        }
    }
   
