.becomeHostNavbar {
    font-size: 0.9rem;
    // background-color: blanchedalmond;
    padding-right: 50px;
    padding-left: 50px;
    padding-block: 35px;
    width: 100%;
    position:fixed;
    background-color: white;

    white-space: nowrap;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: none;
        color: black;
    }
    
.airbnb-logo {
    height: 30px;
}


    
}