.mainNavbar {
    font-size: 0.9rem;
    // background-color: blanchedalmond;
    padding-right: 40px;
    padding-left: 40px;
    padding-block: 20px;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-lighter);

    white-space: nowrap;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: none;
        color: black;
    } 
}

.mainNavbar-mobile {
        display: none;
}

.mainNavbar-desktop {
    // @media screen and (max-width: 745px) {
    //     display: none;
    // }
    .customToolTip {
        display: none;
    }
}




.logo {
    text-decoration: none;
}

.airbnb-logo {
    height: 34px;
}

.airbnb-logo-text {
    color: var(--color-main);
    font-weight: 800;
    font-size: 1.4rem;
    margin-left: 5px;

    @media screen and (max-width: 1200px) {
        display: none;

    }

}

.mainNavbar-search {
    margin-left: 15px;
    background-color: var(--color-main);
    border-radius: 50px;
    height: 30px;
    width: 30px;
    color: white;
    img {
        height: 15px;
        filter: brightness(0) invert(1);
        stroke-width: 3px;
    }
}

.mainNavbar-middle-div {
    align-items: center;
    justify-content: center;
    display: flex;

    @media screen and (max-width: 950px) {
        justify-content: start;
    }
    @media screen and (max-width: 745px) {
        display: none;
    }

}


.mainNavbar-middle {
    border: 1px solid var(--color-gray-lighter);
    padding-block: 10px;
    padding-left: 25px;
    padding-right: 8px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    height: 50px;
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 860px) {
        padding-block: 5px;
        padding-left: 15px;

    }
   

    .mainNavbar-middle-link {
        width: 80px;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media screen and (max-width: 860px) {
            width: 45px;
        }

        
    }
    

    .link-anywhere, .link-anyweek {
        font-weight: 700;
    }

    .link-addguests {
        color: var(--color-gray);
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }

    // @media screen and (max-width: 950px) {
    //     justify-content: start;
    //     background-color: aqua;
    // }
    @media screen and (max-width: 745px) {
        display: none;
    }
}


.mainNavbar-middle-divider {
    width: 1px;
    height: 23px;
    margin-inline: 15px;
    background-color: var(--color-gray-lighter);
}

.mainNavbar-right {
    white-space: nowrap;
    display: flex;
    align-items: center;
    
    .world-icon {
        height: 15px;
        margin-inline: 12px;
       
    }

    .link-language {
        border-radius: 50px;
        height: 40px;
        cursor: pointer;
        
        &:hover {
            background-color: var(--color-gray-lightest);
        }
    }

    .link-airbnbYourHome, .link-switchToHosting{
        display: flex;
        font-weight: 700;
        text-decoration: none;
        border-radius: 50px;
        height: 40px;
        padding-inline: 10px;
        cursor: pointer;

        &:hover {
            background-color: var(--color-gray-lightest);
        }

        @media screen and (max-width: 860px) {
            padding-inline: 0px;
        }

        @media screen and (max-width: 375px) {
            display: none;
        }
        
        
    }

    .profile {
        cursor: pointer;
        position: relative;
        height: 40px;
        border: 1px solid var(--color-gray-lighter);
        padding-left: 12px;
        padding-right: 5px;
        border-radius: 50px;
        font-size: 0.9rem;
        margin-left: 5px;
        
        
        .burger-menu-icon {
            height: 12px;
        }
    
        .profile-picture {
            height: 30px;
            width: 30px;
            border-radius: 50px;
            margin-left: 15px;
            background-color: black;
            color: white;
            font-size: 0.6rem;
            user-select: none;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
        }
    }

    // @media screen and (max-width: 745px) {
    //     display: none;
    // }
}

.profile-dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border-radius: 15px;
    width: 220px;
    padding-block: 10px;
    border: 1px solid var(--color-gray-lighter);
    box-shadow: rgba(0, 0, 0, 0.067) 0px 1px 3px 2px;
    z-index: 1000;

    a {
        text-decoration: none;
        width: 100%;
        color: var(--color-gray);
        div {
            padding-inline: 20px;
            text-align: left;
            padding-block: 10px;
            cursor: pointer;
            &:hover {
                background-color: var(--color-gray-lightest);
            }
        }
        &:hover {
            color: var(--color-gray);
        }
    }

    .profile-dropdown-menu-divider {
        margin-block: 10px;
        height: 1px;
        width: 100%;
        padding-block: 0px;
        background-color: var(--color-gray-lighter);
    }

    .link-signup {
        font-weight: 800;
    }
}