.places {
    padding-inline: 80px;
    // background-color: antiquewhite;
    padding-block: 20px;
    text-align: left;
}

.place-heading{
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;

    
}
.place-heading-information {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.place-main {
    width: 100%;
    margin-top: 30px;
    .place-about {
        width: 65%;
        margin-right: 60px;

        .place-about-heading {
            min-height: 60px;
        }
        .place-profile-picture {
            height: 60px;
            width: 60px;
            border-radius: 50px;
            object-fit: cover;
        }

        
    }
    @media screen and (max-width: 950px) {
        .place-about {
            width: 100%;
            margin-right: 30px;
        }
    }
    @media screen and (max-width: 750px) {
        .place-about {
            margin-right: 0px;
        }
    }

    .place-reservation {
        display: flex;
        width: 330px;
        padding: 20px;
        height: 100%;
        background-color: white;
        .daily-price {
            font-size: 1.3rem;
            font-weight: 600;
        }
        
        // .rating {
        //     font-size: 0.8rem;
        //     font-weight: 700;
        // }
        @media screen and (max-width: 750px) {
            display: none;
        }

    }

}
.reservation-rating-review {
    font-size: 0.8rem;
            font-weight: 700;
}



.reservation-form {
    font-size: 0.6rem;
    font-weight: 700;
}

.check-date {
    
    
    .check-in {
        width: 50%;
        border-right: 1px solid var(--color-gray-light);
        padding: 10px;
    }
    .check-out {
        width: 50%;
        padding: 10px;
    }
    
}

.checkin-date, .checkout-date, .guest-number{
    font-size: 0.8rem;
    font-weight: 400;
}

.check-guests {
    padding: 10px;
}


.place-images-row {
    width: 100%;
}

.place-images {
    height: 450px;
    width: 100%;
    .col-6{
        height: 100%;
        padding-right: 0px;

        .row{
            height: 50%;
        }
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
.image-left{
        img {
            border-radius: 20px 0px 0px 20px;
        }
}
.image-right-top {
    img {
        border-radius: 0px 20px 0px 0px;
    }
}

.image-right-bottom {
    img {
        border-radius: 0px 0px 20px 0px;
    }
}

    
}

.place-about-text {
    font-size: 1.6rem;
    font-weight: 700;

    @media screen and (max-width: 950px) {
        font-size: 1.4rem;
    }
}

.place-summary-text {
    font-size: 0.9rem;
    color:var(--color-gray-dark);
    font-weight: 300;
}

.place-reservation-mobile {
    display: none;
    @media screen and (max-width: 750px) {
        display: block;
        padding: 30px;
    }
}
