.signup-login {
    background-color: white;
    padding: 40px;
}

.signup-login-header {
    font-weight: 700;
    padding-block: 18px;
    font-size: 1.1rem;
}

.signup-login-frame {
    width: 566px;
    border: 1px solid var(--color-gray-light);
    border-radius: 10px;
}

.signup-login-main {
    padding: 32px;

    .welcome-to-airbnb {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .signup-login-form {
        border: 1px solid var(--color-gray-light);
        border-radius: 10px;

        .form-divider {
            width: 100%;
            border-bottom: 1px solid var(--color-gray-light);
        }

        .form-group-country, .form-group-phone {
            height: 60px;
        }
    }

    .input-country-header {
        font-size: 0.8rem;
        color: #808080;
    }

    .input-country, .input-phone {
        border: none;
        padding: 0px;
    }

    .privacy-policy {
        font-size: 0.8rem;
        margin-top: 8px;

        .privacy-policy-link {
            text-decoration: underline;
            font-weight: 700;
        }
    }

    .signup-login-button {
        background-color: var(--color-main);
        font-weight: 700;
        border: none;
        color: white;
        width: 100%;
        height: 48px;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 5px;

        &:active {
            margin-inline: 7px;
            font-size: 0.9rem;
            width: 96%;
        }
    }
}

.other-options-divider {
    height: 0.5px;
    width: 100%;
    background-color: var(--color-gray-lighter);
}

.other-options {
    > div {
        width: 100%;
        padding: 13px 23px;
        height: 52px;
        font-weight: 600;
        border: 1.5px solid var(--color-gray-dark);
        
        border-radius: 10px;
        background-color: white;
        cursor: pointer;

        &:hover {
            background-color: var(--color-gray-lightest);
        }

        &:active {
            width: 96%;
            font-size: 0.9rem;
            border: 2px solid var(--color-gray-dark);
        }
    }

    div:not(:last-child) {
        margin-bottom: 15px;
    }

    .other-options-logo {
        height: 20px;
    }

    .login-option-email, .login-option-apple, .login-option-google, .login-option-facebook {
        width: 100%;
    }
}