.signup-login {
    padding: 40px;
    
}

.signup-login-header {
    font-weight: 700;
    padding-block: 18px;
    font-size: 1.1rem;
}

.signup-login-frame {
    width: 566px;
    border: 1px solid var(--color-gray-light);
    border-radius: 10px;
    background-color: white;
}

.signup-login-main {
    padding-inline: 32px;
    padding-top: 32px;

    .welcome-to-airbnb {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 15px;
    }
}

.other-options-divider {
    height: 0.5px;
    width: 100%;
    background-color: var(--color-gray-lighter);
}

.other-options {
    padding-inline: 18px;
    padding-bottom: 18px;
    > div {
        width: 100%;
        padding: 13px 23px;
        height: 52px;
        font-weight: 600;
        border: 1.5px solid var(--color-gray-dark);
        
        border-radius: 10px;
        background-color: white;
        cursor: pointer;

        &:hover {
            background-color: var(--color-gray-lightest);
        }

        &:active {
            width: 96%;
            font-size: 0.9rem;
            border: 2px solid var(--color-gray-dark);
        }
    }

    div:not(:last-child) {
        margin-bottom: 15px;
    }

    .other-options-logo {
        height: 20px;
    }

    .login-option-email, .login-option-apple, .login-option-google, .login-option-facebook, .login-option-phone {
        width: 100%;
    }
}

.form-group {
    height: 60px;
}

.form-divider {
    width: 100%;
    border-bottom: 1px solid var(--color-gray-light);
}