.filter-div {
    height: 67px;
    margin-block: 25px;
    width: 100%;
    padding-inline: 40px;
    // position: fixed;
    background-color: white;
    z-index: 999;

    @media screen and (max-width: 745px) {
        height: 40px;
    }
}

// .filler {
//     height: 78px;
//     margin-top: 50px;
// }

.filter-categories {
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    scroll-behavior: smooth;

    
    .links-box {
        cursor: pointer;
        padding-block: 8px;

        border-bottom: 2px solid transparent;
        
        img {
            height: 32px;
            width: 32px;
            margin-bottom: 4px;
            // filter: brightness(0) saturate(100%) invert(44%) sepia(9%) saturate(8%) hue-rotate(350deg) brightness(97%) contrast(84%);
            filter: brightness(0) saturate(100%) invert(32%) sepia(6%) saturate(4%) hue-rotate(322deg) brightness(99%) contrast(95%);
        
            @media screen and (max-width: 745px) {
                height: 27px;
                width: 27px;
            }
        
        }
                
        div {
            font-size: 0.8rem;
            font-weight: 700;
            color: var(--color-gray-dark);
            white-space: nowrap;
        }
        &:hover {
            img {
                filter: none;
                
            }
            div {
                color: black;
            }

            border-bottom: 2px solid var(--color-gray-lighter);
            
            
        }
        

    }
    .links-box:not(:last-child) {
        margin-right: 40px;
    }
}

.filter-categories::-webkit-scrollbar {
    display: none;
}



.left-arrow, .right-arrow {
    img {
        height: 10px;
        width: 10px;
        
    }
    height: 28px;
    width: 28px;
    border: 1px solid var(--color-gray-light);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media screen and (max-width: 745px) {
        display: none;
    }

}

.left-arrow {
    // display: none;
    box-shadow: 15px -11px 25px 17px rgba(255, 255, 255, 0.915);
    z-index:999;
    
}

.right-arrow {    
    box-shadow: -15px -11px 25px 17px rgb(255, 255, 255, 0.915);
    z-index:999;
}
// .left-arrow {
//     display: none;
// }

.filters-button {
    width: 90px;
    height: 48px;
    background-color: white;
    border: 1px solid var(--color-gray-lighter);
    border-radius: 12px;
    margin-left: 24px;
    padding-inline: 16px;
    font-size: 0.8rem;
    font-weight: 700;
    img {
        height: 14px;
        width: 14px;
        margin-right: 8px;
    }
}