.place-card {
    border-radius: 12px;
    margin-bottom: 35px;
    cursor: pointer;
}

.card-img {
    cursor: pointer;
    img {
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
        aspect-ratio: 1/1;
    }
}

.card-info {
    margin-top: 10px;
}

.star-icon {
    img {
        height: 12px;
        width: 12px;
    }
}

.card-info-rating {
    font-size: 0.9rem;
}

.card-info-location {
    font-weight: 700;
}

.card-info-middle {
    color: var(--color-gray-dark);
    font-size: 0.9rem;
}

.card-info-bottom {
    font-size: 0.9rem;
    
    .card-info-price {
        font-weight: 700;
    }
}


.carousel-control-prev-icon {
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-size: 100%, 100%;
}

.carousel-indicators [data-bs-target] {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
    border: none !important;
}

.favourite-icon-div {
    z-index: 999;
    right: 20px;
    top: 20px;

    .favourite-icon {
        cursor: pointer;
        height: 28px;
        color: #7e7e7e;
        // background-color: white;
        

    }
}