@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  --color-main: #FF385C;
  --color-gray-darker: #535353;
  --color-gray-dark: #717171;
  --color-gray-light:#BCBCBC;
  --color-gray-lighter:#E5E3DF;
  --color-gray-lightest: #f5f5f5;
  --color-blue-link: #294EC6;
  --font-main: 'Nunito Sans', sans-serif;
  background-color: var(--color-gray-lighter);

}

.vertical-divider {
  width: 1px;
  height: 23px;
  margin-inline: 15px;
  background-color: var(--color-gray-lighter);
}

.horizontal-divider {
  height: 1px;
  width: 100%;
  padding-block: 0px;
  background-color: var(--color-gray-lighter);
}



.App {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signup-login-button {
  // background-color: var(--color-main);
  font-weight: 700;
  border: none;
  color: white;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  background: rgb(238,37,81);
  background: linear-gradient(90deg, rgba(238,37,81,1) 35%, rgba(207,13,98,1) 100%);

  &:active {
      margin-inline: 7px;
      font-size: 0.9rem;
      width: 96%;
  }
}

.main-button {
  font-weight: 700;
  border: none;
  color: white;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  background: rgb(238,37,81);
  background: linear-gradient(90deg, rgba(238,37,81,1) 35%, rgba(207,13,98,1) 100%);

  &:active {
      margin-inline: 7px;
      font-size: 0.9rem;
      width: 96%;
  }
}

.form-header{
  font-size: 0.8rem;
  color: #808080;
}

.form-input {
  border: none !important;
  padding: 0px !important; 

  :focus {
    border:0px;

      outline: none !important;
      outline-style: none !important;
  }
}

.form-frame {
  border: 1.5px solid var(--color-gray-light);
  border-radius: 10px;
}

.form-frame-light {
  border: 1.5px solid var(--color-gray-lighter);
  border-radius: 10px;
}

.form-divider {
  width: 100%;
  border-bottom: 1px solid var(--color-gray-light);
}

.form-divider-light {
  width: 100%;
  border-bottom: 1px solid var(--color-gray-lighter);
}

.form-shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 15px 0px;
}

.not-allowed {
  cursor: not-allowed;
}

.loading-div {
  position: absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);

  background-color: black;
  color: white;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  div {
      position: absolute;
      top: 30%;
      left: 50%;
      transform:translateX(-50%);
  }
}
