.login-email-form {
    border: 2px solid black;
    border-radius: 10px;

    .form-divider {
        width: 100%;
        border-bottom: 1px solid var(--color-gray-light);
    }

    .form-group-email{
        height: 60px;
    }
}
.form-header{
    font-size: 0.8rem;
    color: #808080;
}

.form-input {
    border: none !important;
    padding: 0px !important; 

    :focus {
        outline: none !important;
        outline-style: none !important;
    }
    
}

.form-group-div {
    border: 1px solid var(--color-gray-light);
    border-radius: 10px;
    width: 100%;
}

.input-explanation {
    font-size: 0.8rem;
    margin-top: 6px;
    margin-bottom: 22px;
    color: var(--color-gray-dark);
    text-align: start;
}

.privacy-policy-signup {
    text-align: start;
    font-size: 0.8rem;
    margin-top: 22px;
    color: var(--color-gray-darkest);
    a {
        font-weight: 700;
        text-decoration: none;
        text-decoration: underline;
        color: var(--color-blue-link);
    }
}

.account-exist {
    font-size: 0.8rem;
    margin-top: 6px;
    margin-bottom: 22px;
    color: var(--color-gray-dark);
}